#content
{
    margin: 50px;
    text-align:center;
}

#wrapper
{
    margin-top:30px;
}

#step1,#step2
{
    margin:auto;
    padding-bottom:50px;
}

#lyric_content
{
    margin-top:20px
}

.nav
{
    background-color: rgba(0,0,0,0.7)
}